.detail-heading {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
}

.story-details {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.story-info,
.story-description {
    background-color: transparent;
    color: #3498db;
    padding: 10px;
    margin-bottom: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.story-title,
.story-author,
.story-description {
    margin: 0;
    font-size: 1em;
}

.story-author {
    margin-top: 10px;
}

.story-image img {
    max-width: 30%;
    height: auto;
    display: block;
    margin: 10px auto;
    border-radius: 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
/* Style cho phần đọc truyện */
.story-container {
    text-align: center; /* Căn giữa nội dung */
    margin-bottom: 20px;
}

.story-image img {
    max-width: 50%; /* Điều chỉnh kích thước của hình ảnh */
    height: auto;
    display: block;
    margin: 10px auto;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.story-description {
    max-width: 70%; /* Điều chỉnh kích thước của phần mô tả */
    margin: 0 auto 20px auto; /* Canh giữa và tạo khoảng cách dưới cùng */
    text-align: justify;
    line-height: 1.6;
}

/* Style cho phần bình luận */
.comment-section {
    margin-top: 20px;
    text-align: center; /* Canh giữa nội dung */
}

.comment-form {
    display: flex;
    justify-content: center; /* Canh giữa các phần tử bên trong */
    margin-bottom: 10px;
}

.comment-form textarea {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-right: 10px;
}

.comment-form button {
    background-color: #3498db;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 5px 10px; /* Điều chỉnh kích thước của nút gửi */
    cursor: pointer;
}

.comment-form button:hover {
    background-color: #3498db;
}

.comment-list {
    margin-top: 20px;
    display: flex;
    flex-direction: column; /* Hiển thị các phần tử con dọc xuống */
    align-items: center; /* Canh giữa các phần tử con */
}

.comment {
    background-color: #f9f9f9;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
    width: 70%; 
    max-width: 500px;
     /* Giới hạn chiều rộng tối đa của phần tử .comment */
}
.no-comments {
    text-align: center; /* Canh giữa nội dung */
    color: #999; /* Màu chữ xám nhạt */
}
